﻿@import url("https://fonts.googleapis.com/css?family=Mystery+Quest");
body{
	background-color: black;
}

header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	margin-bottom:50px;
	background-image: url("../img/cabecera.jpg");
	background-size: 100% 600px;
}
 
img.icon{
	margin:50px auto;
	background-color: rgba(255,255,255,.15);
	width:100px;
	height: 100px;
	padding:20px;
}

.wrapper {
	width:100%; /* Establecemos que el ancho sera del 90% */
	max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}

div.contenedor{
	float:left;
}

header .logo {
	color:#f2f2f2;
	font-size:50px;
	font-family: "Mystery Quest";
	line-height:80px;
	margin-top: 50px;
	float:center;
}
 
header .logo_cuervo {
    max-width: 70px;
    margin-left: 20px;
    margin-top: 60px;
}

 
header nav {
	float:center;
}
 
header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:0px 0px;
	line-height:normal;
	font-size:13.5px;
	font-weight:bold;
}
 
header nav a:hover {
	background-color: rgba(255,255,255,.15);
	-webkit-transition:box-shadow .4s;
}

img.icon:hover {
	width:105px;
	height: 105px;
}


p.texto{
	font-size: 15px;
	text-align: center;
	color:white;
	width:100px;
	text-align: center;
}

.Cuento{
    max-width: 800px;
    height:315px;
    border: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	padding: 15px;
	background-color: #252932;
	color: white;
    overflow:auto;
}

h1{
	display: block;
    font-size: 2em;
    font-family: "Mystery Quest";
    text-align: center;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h1#Titulo_EAP{
	display: block;
    font-size: 2em;
    font-family: "Times New Roman";
    text-align: center;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.img_EAP{	
	float: left;
	height: 250px;
    margin-right: 20px;
    margin-bottom: 15px;
    max-width: 600px;
    border-width: 1px;
	border-style: solid;
	border-color: black;
}

.Contenido{
	font-size: 15px;
	padding: 15px;
	max-width: 800px;
	text-align: justify;
	margin:auto;
	display:block;	 
    overflow: hidden; 
    color: white;  
}

.obras{
	font-family: fantasy;
	color: #fb4f14;
}

